$versant-color: #ad1d40;

$font-family: 'Open Sans', Helvetica, sans-serif;
$bg-blue: #5B87DA;
$border-radius: 0rem;
$button-text: #444;
$primary: $versant-color;
$success: #329943;
$danger: #e04747;

$main-text-color: #4A4A4A;
$bg-blue-hover: #24498f;
$white: #fff;
$light-grey: #eee;