<kendo-dialog-titlebar class="close-none">
    <div class="dialog-title-center">
        <div class="bar-danger"></div>
        <div class="text-container">
            {{title}}
        </div>   
    </div>
</kendo-dialog-titlebar>

<div class="container">
    <div class="text-center">
        {{content}}
    </div>
</div>

<kendo-dialog-actions class="justify-content-center" layout="normal">
    <button class="k-button k-button-delete" (click)="onDialogClose()">Ok</button>
</kendo-dialog-actions>